# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.env
.venv/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Python Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Environment Variables
# ==========================
.env.local
.env.*

# ==========================
# Optional
# Uncomment if models are too large
# ==========================
# models/
# *.pkl

# ==========================
# Optional
# Uncomment if you don't want to upload datasets
# ==========================
# data/
# *.csv
# *.data